__pycache__/Datas.cpython-39.pyc
__pycache__/OptimizationMILP.cpython-39.pyc
datas_1_s_completo_SNPTEE-SC-com-REF_lca.csv
datas_1_s_completo_SNPTEE.csv
results.csv
__pycache__/Datas.cpython-39.pyc
__pycache__/OptimizationMILP.cpython-39.pyc
tratamento_de_dados_para_teste/Dados para primeira simulacao/data_20240212.csv
__pycache__/Datas.cpython-39.pyc
__pycache__/OptimizationMILP.cpython-39.pyc
__pycache__/Datas.cpython-39.pyc
__pycache__/OptimizationMILP.cpython-39.pyc
